[Unit]
Description=Lerd UI Dashboard
After=default.target

[Service]
Type=notify
ExecStart=%h/.local/bin/lerd serve-ui
Restart=on-failure

[Install]
WantedBy=default.target
